doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link( href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
        link(rel="stylesheet", href="index.less")
        title template 
        style.
          strong {
            font-size: 35px;}
          em{
            font-size 30px;
          }
    body 
    div(class="logo")
      img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/BEE_May20_MarketingAgency_DashboardMetrics_v01.png", alt="logo" title="logo")
    img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/BEE_May20_MarketingAgency_Invoice_v01.jpg", alt="logo" title="banniere" width="100%")
    div(class="etoile")
    
      img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/Sparkle-black.png", alt="logo" title="etoile")
    div(class="div1")
      p#y YOUR JUNE 
      div(class="mrr")
        img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/Metrics.png", alt="logo" title="logo")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
       eisusmod tempor incididunt.
      button VIEW DASHBOARD 
      p#nom!= '<strong>  Hello </strong> <em>jane </em>,'
      p What a mounth ! Let's see how jour campaings . performed 
    div(class='div2')
      p#haut <br> <br> <em>This mounth, you sent : </em>
      p#nom1!= " <strong> 46,529 </strong> emails" 
      p#haut Lorem ipsum dolor sit amel, consecteur adipiscing elit, sed do
    div(class="div3")
      div(class="jaune")
        p#m <em>Open rate : </em>
        p#valeur 31.73 %
        p#description Lorem ipsum dolor sit amet,consectetur. 
      div(class="vert")
       p#m <em> Conversion : </em> 
       p#valeur 2.4 % 
       p#description Lorem ipsum dolor sit.
      div(class="rose")
        p#m <em> Bounce Rate : </em>
        p#valeur  1.5 %
        p#description Lorem ipsum dolor sit amet.
      div(class="melange")
        p#m <em> Unsunbscrite Rate : </em>
        p#valeur 1.4 % 
        p#description Lorem ipsum dolor sit amet,consecteur.
    button#e VIEW DASHBOARD
    div(class="logoo")
      img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/Flower-green.png", alt="logo" title="logo")
    div(class="div4milieu")
      p!=" <strong> Your top performing <br> &nbsp &nbsp campaingn in </strong> <em> june </em> "
      p#ecrit!= "email : <b> Price Weekens | 30% off </b> &#127987;&#65039;&#8205;&#127752; "
      p#ecritt!= " Sent : <b> ThursDAY, June 14  </b>  "
    div(class="div5")
      div(class="orange")
        p#h DELIVERED 
        h3 <strong>28,503 </strong> 
        div(class="to")
      div(class="turquoise") 
        p#h OPENED 
        h3  <strong>8,196</strong>
        div(class="tu")
      div(class="jaunatre") 
        p PLACED ORDER 
        h3 <strong>146</strong>
        div(class="jn")
      div(class="rosatre")
        p#h REVENUE PER SEND 
        h3!= " <strong> $4.07 </strong>"
        div(class="rs")
    button#ff VIEW ALL CAMPAIGNS
    div(class="ens")
      div(class="div6")
        div(class="gauche") 
          img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/BEE_May20_MarketingAgency_DashboardMetrics_v03.jpg", alt="logo" title="logo")
        div(class="droite")
          div(class='txt')
            h2 Ready to take yout emails to the 
            p#q!= " <em> next level ? </em>"
            p Duis aute irure dolor in reprehenderit in volupate velit esse cillum dolore.
            button LEARN MORE
      div(class="footer")
        div(class="banniere")
        img(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/BEE_May20_MarketingAgency_Invoice_v01.jpg", alt="logo" title="banniere" width="100%")
        img#s(src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8736/MC-logo-white.png#", alt="logo" title="logo")
        p MAILCOMET MARKETING AGENCY 
        div(class="icones")
          i.bx.bxl-instagram( title='instagram')
          i.bx.bxl-facebook(title='facebook')
          i.bx.bxl-pinterest(title='pinterest')
          i.bx.bxl-tiktok(title='tiktok')
        p 1234 Example Street
        p City, State 01234,County 
        p#u <u> Unsubscribe </u>   or   <u> Manage Preferences </u>
